.flex-all-centre {
    display: flex;
    text-align: center;
    align-items: center;

}

.btn {
    padding: 2px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

.text-center{
    text-align: center;
}